<form>
  <div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-6">
      <span class="ui-float-label">
        <input id="nome"  class="form-control" type="text" size="30" required
        [(ngModel)]="usuario.nome" name="nome" pInputText> 
        <label for="nome">Nome</label>
      </span>
    </div>
    <div class="ui-g-12 ui-md-6">
      <span class="ui-float-label">
        <input id="email"  type="email" size="30" required
        [(ngModel)]="usuario.email" name="email" pInputText> 
        <label for="email">Email</label>
      </span>
    </div>
  </div>
  <br/>
  <div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-12">
      <button pButton type="button" label="Salvar" (click)="salvar()"></button>
    </div>
  </div>
</form>